#header {
    text-align: center;
}

#startButton {
    width: 200px;
    height: 50px;
}

#mainMenu {
    margin: 0px auto;
    width: 365px;
    height: 250px;
    text-align: center;
}

#menuContainer {
    width: 100%;
    height: 150px;
}

.fieldContainer {
    text-align: justify;
    width: 100%;
    height: 560px;
}

.field {
    padding: 0px 20px;
    width: 500px;
    height: 550px;
}

#playerField {
    float: left;
}

#computerField {
    float: right;
}

#generateButton {
    width: 200px;
    height: 50px;
}

#generateButtonContainer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#gameStep {
    width: 100%;
    height: 30px;
    text-align: center;
}
